@tailwind base;
@tailwind components;
@tailwind utilities;

ul li{
  font-size: 12px;
  color: #808089;
  margin-top: 4px;
}
  
.bct {
  height: 32px;
  width: 83px;
}
  
@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
