@tailwind base;
@tailwind components;
@tailwind utilities;



.checkbox-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #C4C4CF;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}


.checkbox-custom:checked::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background: #0A68FF;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  content: '✔';
  font-size: 12px;
  text-align: center;
  color: #fff;
}

  